{% extends 'base.html' %}

{% block title %}Вход{% endblock %}

{% block content %}
<h2>Вход</h2>
<form method="POST" action="{{ url_for('login') }}">
    <div class="mb-3">
        <label for="username" class="form-label">Имя пользователя</label>
        <input type="text" id="username" name="name" class="form-control" required>
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Пароль</label>
        <input type="password" id="password" name="password" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-primary">Войти</button>
</form>

<p>Нет аккаунта? <a href="{{ url_for('register') }}">Зарегистрироваться</a></p>
{% endblock %}
